<h1>{{title}}</h1>
 <!--using img tag-->
    <img src="/images/profile.jpg" alt="profile" height="300px" width="300px" id="image"  />
    <!--creating a paragraph-->
    <p id="intro">Bachelor's degree in Electronics and Communication engineering with excellent credentials and 
        hands-on experience in project management and leadership skills.Solid interpersonal, communication and 
        presentation skills along with the ability to maintain high level of efficiency within fast-paced and 
        team oriented work environments. Friendly, self-driven, upbeat and organised with strengths in 
        problem solving and rapport building.High detail oriented and able to multitask along with a talent for
        quickly learning new technologies.<br> <br> 
        Currently pursuing Post-Graduation degree at Conestoga College in the program "Mobile solution Development"
        My curiosity makes me wonder about the development and working of websites and mobile application,
        created an overwhelming passion in me for a career in the field of Mobile solution Development  
    </p>
    <br>
    <!--creating content on left and right side-->
    <div class = "list-box">
     <div class = "box">
          <h3>PROFESSIONAL DEVELOPMENT</h3>
          <!--using order list (number)-->
          <ol>
             <li>NPTEL Online Certification in Discrete Time Signal Processing</li>
             <li>NPTEL Online Certification in C++</li>
              <li>Participation in an Analog an online contest by Texas Instruments </li>
              <li>Internship and Training on Internet of Things</li>
             <li>Paper Presentation in 5th IEEE International Conference on RTEICT  </li>
             <li>Internshala Online Training on Web Development </li>
             <li>Internshala Online Training on Android App Development</li>
             <li>Patent Published in IPASS (Application Number :202041052821)</li>
          </ol>
     </div>
     <div class ="box">
         <h3>SKILLS</h3>
         <!--using unordered list (square)-->
         <ul type ="square">
            <li>C Program</li>
            <li>C++ Program</li>
             <li>Python Program</li>
             <li>Arduino, Node MCU and Raspberry pi Boards(IOT) </li>
             <li>Written/Verbal Communication</li>
             <li>Time Management </li>
             <li>Creativity </li>
             <li>Adaptability </li>

         </ul>
      </div>
 </div>