<h1>{{title}}</h1>
<!--creating a contact form-->
<form >
<label for ="inputName"> <h3>Name : </h3> </label>
<input type="text" class="form-control" id="inputName" name="name" placeholder="Full Name" required="requried"><br>
<label for ="inputEmail"> <h3>Email-id : </h3> </label>
<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required="required"><br>                       
 <label for="inputMessage"><h3>Message</h3></label>                              
<textarea class="form-control" id="inputMessage" name="message"  placeholder="Please write message ." rows="10"></textarea><br>                          
<button type="button" class="btn btn-primary">Submit</button>                        
 </form> 