<h1>{{title}}</h1>
<!--adding background image-->
<div id = "background-image">
  <!--display all the content at center and use of heading and paragraph tags-->
    <center>
        <div id ="content">
            <h1>Hello</h1> 
             <br>
           <h2> I'm Shivaranjini Mahesh<br> <p>A Post-Graduate Student at Conestoga College
            enrolled to a Program<br>"Mobile Solution Development"</p> </h2>
            <br> <br> <h1> Welcome to My Portfolio website .</h1>
        </div>
  </center>
</div>

