<h1>{{title}}</h1>
<h3>Final Year Project(BE)</h3>
<!--adding image and content-->
<img src="/images/project.png" alt="profile" height="300px" width="400px" id="project-image"  />
<h6>DEVELOPMENT OF MACHINE LEARNING BASED FRUIT DETECTION AND GRADING SYSTEM</h6> 
<p id="intro">
    The project deals with identification of ripeness of the fruit and sort them as per  quality
    with the help of Deep Learning technique which is subclass of Machine Learning <br> <br>
    A fruit is placed on the conveyer belt, the camera captures the images of the fruit .The captured images is compared with trained
    data set using Convolutional Neural Network (CNN) algorithm. Based on the results respective servo motor
    are activated to segregate the fruit based on their quality.
     </p><br>
<a href ="https://ieeexplore.ieee.org/document/9315601" target="_blank">Click here to see IEEE Paper Presented.</a>
<br>
<br> 
<h3>Patent Work</h3>
<img src="/images/patent.png" alt="patent" height="300px" width="400px" id="project-image"  />
<h6>EASING DYADIC SWAYING CRIB</h6>
<p id="intro">
    
    An uniquely designed crib as been invented.The versatility of child status can be monitored 
    with the help of a set of sensors in the presented invention <br><br>
    The instant baby cries the smoothing song will be played also temperature being monitored
    for providing comfort surrounding environment. The proposed invention has advantageous characteristics
    for dyadic swing also it includes a preventive structure to protect an infant from falling condition
    also includes crib crum trolley, which has significant advantageous over old cribs. 

</p> 
<h6>Application Number : 202041052821</h6>
<a href ="https://ipindiaservices.gov.in/publicsearch" target="_blank">Click here to see Patient Paper Published.(enter the Application
number in the field)</a>
<br>
<br>
<h3>Internship</h3>
<img src="/images/internship.png" alt="internship" height="300px" width="400px" id="project-image"  />
<h6>INTERNET OF THINGS(IoT)</h6>
<p id="intro">
    Learnt use of Arduino, NodeMCU board using Arduino IDE and Raspberry pi 3 board using python language 
    with many sensors and actuators along with Blynk app.
    <br><br>
    Mini-Projects
    
 <ol id="intro">
    <li>Water Level Indicator</li>    
    <li>Managing of stock  </li>
    <li>Smart billing application for parking</li>
    <li>Flood controlling</li>
    <li>Solar array plates cleaning </li>
</ol>
</p>